/** Configurações **/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');

*{
    box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-style: normal;
}

/** {Cabeçalho} **/

header {
  position: fixed;
  top: 0px;
  height: 69px;
  width: 100%;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 37px;
  font-weight: 700px;
  line-height: 43px;
  z-index: 100;
}


/** {Conteúdo do site} **/

main{
  margin-top: 69px;
  padding-top: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*
  Cabeçalho do quizz
*/
.meu-quizz {
  background-color: #fafafa;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  width: 1051px;
  height: 181px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.meu-quizz p {
  width: 200px;
  height: 20px;
  color: #b9b9b9;
  text-align: center;
  margin-bottom: 40px;
}
.quizz-botao {
  cursor: pointer;
  width: 151px;
  height: 40px;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #ec362d;
  background-color: #FFF;
}

.quizz-botao:hover{
  color: #FFF;
  background-color: #ED362D;
}

/*
  main do quizz
*/

.principal {
    width: 1051px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 77px;
}

.principal h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 12px;
}

.todos-quizz {
  width: 1051px; 
  height: 181px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.quiz {
  cursor: pointer;
  width: 340px;
  height: 181px;
  margin-bottom: 12px;
  border-radius: 5px;
  background-size: 340px 181px;
  position: relative;
  display: flex;
  word-break: break-all;
}
.quiz img {
  border-radius: 5px;
  width: 340px;
  height: 181px;
}

.quiz h2 {
  color: #ffffff;
  font-size: 19px;
  position: absolute;
  bottom: 20px;
  left: 18px;
}

  .caixa-criar-quizz {
    margin-top: 107px;
  }
  
  .caixa-meus-projetos {
    width: 1051px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .title{
    display: flex;
    
  }
  .title ion-icon{
    Width:31px;
    Height:30px;
    position: absolute;
    left: 130px;
    color:red;
    cursor: pointer;
  }

  .principal2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hidden{
    display: none;
  }

  .principal2 h1 {
    font-family: "Roboto";
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    line-height: 27px;
  }

  .atributos-quiz {
    width: 600px;
    height: 256px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    padding-top: 21px;
    margin-bottom: 85px;
  }

  .atributos-quiz input {
    width: 564px;
    height: 46px;
    font-family: "Roboto";
    font-size: 19px;
    font-weight: 400;
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 23px;
  }
  .atributos-quiz input::placeholder{
    font-style: italic;
    color: #BABABA;
  }
  

  .principal2 button {
    background-color: #EC362D;
    width: 369px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    border: hidden;
    border-radius: 15px;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
    color: #FFF5F4;
    cursor: pointer;
  }

  .principal3 {
    text-align: center;
  }

  .principal3 h1 {
    font-family: "Roboto";
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 36px;
  }

  .principal3 button {
    width: 600px;
    height: 825px;
    background-color: #FFFFFF;
    border: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 23px;
  }

  .principal3 button .margem {
    margin-bottom: 14px;
  }

  .principal3 h2 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
    margin-left: 16px;
    margin-right: auto;
    margin-top: 20px;
  }

  .principal3 input {
    width: 564px;
    height: 46px;
    font-family: "Roboto";
    font-size: 19px;
    font-weight: 400;
    font-style: italic;
    color: #BABABA;
    padding-left: 23px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
  }

  .não-selecionado:nth-child() {
    display: none;
  }
  
 /* layout da pagina de teste*/
  .Layout-quizz {
    position: absolute;
    margin: 50% auto 30%;
    width: 759px;
    height: 227px;
  } 

  .fundo-topo img{
    position: absolute;
    top: 69px;
    left: 0;
    width: 100%;
    height: 227px;
  } 

  .caixa-Quizz{
    Width:759px;
    Height:676px;
    margin-top:25%;
  }
  .caixa-pergunta{
    margin-bottom: 10px;
    Width:100%;
    Height:137px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .caixa-Quizz-opção img{
    Width:45%;
    Height:45%;

  }
  .caixa-Quizz-opção{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;

  }

  .legenda-foto{
    background-color: blue;
    height: 50px;
    width: 50px;
  }
